@charset "utf-8";
/***************************************************
 * CSSLIB for adminPage
 * v: 1.0
 * 1һ ==ͷcss3ʽ˽ʽⲿʽʽڲʽʽ
 * 2ڶС @ͷ
 * 3ʽ
***************************************************/

/*==CSS Reset==*/
html{_overflow-y:scroll;}
body,caption,div,dl,dt,dd,ul,ol,li,h1,h2,h3,form,input,textarea,p,th,td,button{margin:0;padding:0;}
table{border-collapse:collapse;}
img{border:0;display:block;}
caption,em{font-style:normal;font-weight:400;}
ol,ul{list-style:none;}
caption{font-size:12px;text-align:left;}
h1,h2,h3{font-size:100%;font-weight:400;}
button,input{vertical-align:middle;}
label{display:inline-block;display:inline\9;text-indent:0;}
body{
	font:12px/1 Tahoma;
}
a{color:#000;text-decoration:none;}
a:hover{text-decoration:underline;}
select{padding:1px;}
h1{margin-bottom:10px;font-size:16px;height:25px;line-height:25px;text-indent:10px;color:#414141;font-weight:700;}
h3{margin-bottom:10px;font-size:14px;height:25px;line-height:25px;text-indent:10px;color:#414141;font-weight:700;}

/*@ɫ?*/
.Dgw{ background-color:#F5F5F5; padding:10px; border-collapse:collapse; }
/*@߶α߿*/
.bdot{padding:10px;background-color:#F5F5F5;border:1px dashed #999;}

/*== bg*** : background-color ==*/
.bgw { background-color:#fff; } /*ɫwhite*/
.bgws { background-color:#f5f5f5; } /*ɫwhitesmoke ǳǳĻɫ*/
.bgb { background-color:#000; } /*ɫblack*/
.bgc { background-color:#ccc; }
.bgd { background-color:#ddd; }
.bge { background-color:#eee; }
.bge4 { background-color:#e4e4e4; }
.bgd5 { background-color:#d5d5d5; }
.bgc6 { background-color:#c6c6c6; }
.bgfa { background-color:#fafafa; }
.bgf7 { background-color:#f7f7f7; }
.bgf0 { background-color:#f0f0f0; }
.bgffe { background-color:#ffe; }
.bgffd { background-color:#ffd; }
.bgffc { background-color:#ffc; }
.bgeff { background-color:#eff; }
.bgdff { background-color:#dff; }
.bgcff { background-color:#cff; }
.bgfef { background-color:#fef; }
.bgfdf { background-color:#fdf; }
.bgfcf { background-color:#fcf; }
.bgeef { background-color:#eef; }
.bgddf { background-color:#ddf; }
.bgccf { background-color:#ccf; }
.bgefe { background-color:#efe; }
.bgdfd { background-color:#dfd; }
.bgcfc { background-color:#cfc; }
.bgfee { background-color:#fee; }
.bgfdd { background-color:#fdd; }
.bgfcc { background-color:#fcc; }
/*== b** : bordre ==*/
/* gray */
.bdg { border:1px solid #808080; } 
.btg { border-top:1px solid #808080; }
.brg { border-right:1px solid #808080; }
.bbg { border-bottom:1px solid #808080; }
.blg { border-left:1px solid #808080; }
/* lightgray */
.bdlg { border:1px solid #d3d3d3; } 
.btlg { border-top:1px solid #d3d3d3; }
.brlg { border-right:1px solid #d3d3d3; }
.bblg { border-bottom:1px solid #d3d3d3; }
.bllg { border-left:1px solid #d3d3d3; }
.tab .brlg { border-right:1px solid #d3d3d3; }
.btdarkred { border-top:2px solid #A61F24; }
/* solid/#cccccc */
.bdc { border: solid 1px #ccc } 
.btc { border-top: solid 1px #ccc; }
.brc { border-right: solid 1px #ccc; }
.bbc { border-bottom: solid 1px #ccc; }
.blc { border-left: solid 1px #ccc; }
/* dotted/#ccc */
.bddc { border: dotted 1px #ccc; } 
.btdc { border-top: dotted 1px #ccc; }
.brdc { border-right: dotted 1px #ccc; }
.bbdc { border-bottom: dotted 1px #ccc; }
.bldc { border-left: dotted 1px #ccc; }

/*== c** : color ɫ ==*/
.c0,a.c0 { color:#000; }
.c3,a.c3 { color:#333; }
.c6,a.c6 { color:#666; }
.c9,a.c9 { color:#999; }
.cc,a.cc { color:#ccc; }
.cd,a.cd { color:#ddd; }
.ce,a.ce { color:#eee; }
.cf,a.cf { color:#fff; }
.orange,a.orange { color:#f90; } /*color-orange*/
.red,a.red		 { color:#ba0708; } /*color-red*/
.green,a.green	 { color:#0f0; } /*color-green*/
.blue,a.blue	 { color:#03c; } /*color-blue*/
.royalblue 	{ color:#4169e1; } 
.darkred 	{ color:#A61F24; }
.gray 		{ color:#808080; }
.dimgray	{ color:#696969; }
/* ɵʽ */
.cb  { color:#0033cc; }/*blue*/
.crb { color:#4169e1; }/*royalblue*/
.cdr { color:#8b0000; }/*darkred*/
.cg  { color:#808080; }/*gray*/
.cdg { color:#696969; }/*dimgray*/
/*== c* : clear */
.cl { clear:left; }
.cr { clear:right; }
.clearer { clear:both; font-size:0; visibility:hidden; line-height:0; height:0; }
.clear:after, .clearfix:after { content:"\0200";display:block;height:0;clear:both;visibility:hidden; }
.clear, .clearfix { *zoom:1; }
/*== .cs* : cursor ʽ ==*/
.csd {cursor:default;} /**/
.csp, .pointer {cursor:pointer;} /**/
.csm, .move { cursor:move; }

/*== d** : display ==*/
.dn,.hidden { display:none; }
.db { display:block; }
.dt { display:table; }
.di { display:inline; }
.dib { display:inline-block; }

/*== f* : float ==*/
.fn { float:none; }
.fl { float:left; }
.fr { float:right; }
/*== f** : font-size ִС ==*/
.f11 { font-size:11px; }
.f12 { font-size:12px; }
.f13 { font-size:13px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
/* ɵĶ */
.fz12 { font-size:12px; }
.fz14 { font-size:14px; }
.fz16 { font-size:16px; }
/*== fw* : font-weight ==*/
.fw4 { font-weight:400; }
.fw7, .fb, .bold { font-weight:700; }
/*== .fs* : font-style ʽ ==*/
.fsn { font-style:normal; }
.fso { font-style:oblique; }
.fsi, .italic { font-style:italic; }

/*== h***: height ==*/
.h10  { height:10px; }
.h20  { height:20px; line-height:20px; }
.h24  { height:24px; line-height:24px; }
.h30  { height:30px; }
.h32  { height:32px; line-height:32px; }
.h40  { height:40px; }
.h50  { height:50px; }
.h80  { height:80px; }
.h100 { height:100px; }
.h150 { height:150px; }
.h200 { height:200px; }
.h300 { height:300px; }

/*== lh***: line-height ==*/
.lh12p { line-height:120%; }
.lh13p { line-height:130%; }
.lh15p { line-height:150%; }
.lh17p { line-height:170%; }
.lh20p { line-height:200%; }
.lh2em { line-height:2em; }
.lh16 { line-height:16px !important; }
.lh18 { line-height:18px !important; }
.lh20 { line-height:20px !important; }
.lh24 { line-height:24px !important; }

/* .m** : margin */
.m0,.mg0  { margin:0; }
.m5,.mg5  { margin:5px; }
.m10,.mg10 { margin:10px; }
.m15,.mg15 { margin:15px; }
.m20,.mg20 { margin:20px; }
.m30,.mg30 { margin:30px; }
.m1_0,.mg1_0  { margin:1px 0; }
.m5_0,.mg5_0  { margin:5px 0; }
.m10_0,.mg10_0 { margin:10px 0; }
.m0_5,.mg0_5  { margin:0 5px; }
.m0_10,.mg0_10 { margin:0 10px; }
.m0_15,.mg0_15 { margin:0 15px; }
.ma,.mha { margin-left:auto; margin-right:auto; }
.mh5  { margin-left:5px;margin-right:5px; }
.mh10 { margin-left:10px;margin-right:10px; }
.mh15 { margin-left:15px;margin-right:15px; }
/* mt** */
.mt5  { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt30 { margin-top:30px; }
/* mr** */
.mr5  { margin-right:5px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }
.mr20 { margin-right:20px; }
.mr30 { margin-right:30px; }
/* mb** */
.mb5  { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb30 { margin-bottom:30px; }
/* ml** */
.ml5  { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml30 { margin-left:30px; }
.ml40 { margin-left:40px; }
.ml50 { margin-left:50px; }
.ml60 { margin-left:60px; }
.ml75 { margin-left:75px; }
.ml80 { margin-left:80px; }
.ml90 { margin-left:90px; }
.ml100 { margin-left:100px; }
.mlp45{ margin-left:45%; }

/*== o* : overflow ==*/
.oa { overflow:auto; }
.oh { overflow:hidden; }
/*== .op** : opacity ͸ ==*/
.op0 { filter:alpha(opacity=0); -moz-opacity:0; opacity:0; }
.op1 { filter:alpha(opacity=10);-moz-opacity:0.1;opacity:0.1; }
.op2 { filter:alpha(opacity=20);-moz-opacity:0.2;opacity:0.2; }
.op3 { filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3; }
.op4 { filter:alpha(opacity=30);-moz-opacity:0.4;opacity:0.4; }
.op5 { filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5; }
.op6 { filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6; }
.op7 { filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7; }
.op8 { filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8; }
.op9 { filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9; }
.op10 { filter:alpha(opacity=100); -moz-opacity:1; opacity:1; }

/*== p** : padding ==*/
.p0,.pd0  { padding:0; }
.p1,.pd1  { padding:1px; }
.p3,.pd3  { padding:3px; }
.p5,.pd5  { padding:5px; }
.p8,.pd8  { padding:8px; }
.p10,.pd10 { padding:10px; }
.p15,.pd15 { padding:15px; }
.p20,.pd20 { padding:20px; }
.p30,.pd30 { padding:30px; }
.p1_0,.pd1_0  { padding:1px 0; }
.p5_0,.pd5_0  { padding:5px 0; }
.p10_0,.pd10_0 { padding:10px 0; }
.p0_5,.pd0_5  { padding:0 5px; }
.p0_10,.pd0_10 { padding:0 10px; }
.p0_15,.pd0_15 { padding:0 15px; }
/* pt** */
.pt5  { padding-top:5px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
/* pr** */
.pr5  { padding-right:5px; }
.pr10 { padding-right:10px; }
.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
/* pb** */
.pb5  { padding-bottom:5px; }
.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
/* pl** */
.pl5  { padding-left:5px; }
.pl10 { padding-left:10px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
/*== pos* : position ==*/
.posr, .relative { position:relative; }
.posa, .absolute { position:absolute; }
.poss, .static { position:static; }
.posf, .fixed { position:fixed; }

/*== ti* : text-indent ==*/
.ti0 { text-indent:0; }
.tih { text-indent:.5em; }
.ti1 { text-indent:1em; }
.ti2 { text-indent:2em; }
.tiu { text-indent:-10000em; }
/*== ta** : text-align ==*/
.tal{text-align:left !important;}
.tac{text-align:center !important;}
.tar{text-align:right !important;}
.taj{text-align:justify !important;}

/*== w*** : width ==*/
.w10  { width:10px; }
.w20  { width:20px; }
.w30  { width:30px; }
.w40  { width:40px; }
.w50  { width:50px; }
.w60  { width:60px; }
.w72  { width:72px; }
.w72  { width:75px; }
.w80  { width:80px; }
.w90  { width:90px; }
.w100 { width:100px; }
.w120 { width:120px; }
.w135 { width:135px; }
.w150 { width:150px; }
.w200 { width:200px; }
.w300 { width:300px; }
.w400 { width:400px; }
.w500 { width:500px; }
.w600 { width:600px; }
.w700 { width:700px; }
.w800 { width:800px; }
.w950 { width:950px; }
.w20p { width:20%; }
.w24p { width:24%; }
.w25p { width:25%; }
.w31p { width:31%; }
.w33p { width:33.33%; }
.w40p { width:40%; }
.w48p { width:48%; }
.w49p { width:49%; }
.w50p { width:50%; }
.w60p { width:60%; }
.w66p { width:66.66%; }
.w75p { width:75%; }
.w80p { width:80%; }
.w100p { width:100%; }

/*== positionضλ ==*/
.top0  { top:0; }
.top10 { top:10px; }
.right0  { right:0; }
.right10 { right:10px; }
.bottom0  { bottom:0; }
.bottom10 { bottom:10px; }
.left0  { left:0; }
.left10 { left:10px; }
.fullscreen   { top:0; right:0; bottom:0; left:0; }
.fullscreen5  { top:5px; right:5px; bottom:5px; left:5px; }
.fullscreen10 { top:10px; right:10px; bottom:10px; left:10px; }

/*== other style ==*/
.sep { color:#ddd; font-family:Arial; margin:0 5px; }
.sep10 { color:#ddd; font-family:Arial; margin:0 10px; }
.ul,.uline,.underline,a.ul,a.ul:hover,a.uline,a.uline:hover,a.underline,a.underline:hover { text-decoration:underline; }
.noul,a.noul,a.noul:hover,.nouline,a.nouline,a.nouline:hover { text-decoration:none; }
.noime { ime-mode:disabled; }
.nowrap { white-space:nowrap; }
.wrap,.wordwrap { word-break:break-all; word-wrap:break-word; overflow:hidden; }
.short,.ellipsis li { display:inline-block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.floatdiv { position:absolute; top:-1000px; left:-1000px; display:none; }
.disabled { filter:alpha(opacity=30); -moz-opacity:0.3; opacity:0.3; }

/*== css3 ʽ ==*/
/*@radius*/
.radius1 { border-radius:1px; -moz-border-radius:1px; -webkit-border-radius:1px; -khtml-border-radius:1px; }
.radius2 { border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -khtml-border-radius:2px; }
.radius3 { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; }
.radius4 { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; }
.radius5 { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; }
.radius8 { border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -khtml-border-radius:8px; }
.radius12 { border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px; -khtml-border-radius:12px; }
.radius12-lr { border-top-left-radius:12px; border-top-right-radius:12px; -webkit-border-top-left-radius:12px;
-webkit-border-top-right-radius:12px;
-moz-border-radius-topleft:12px;
-moz-border-radius-topright:12px;
-khtml-border-radius:0px; }
/*@shadow*/
.shadow1 { -moz-box-shadow:1px 1px 1px #333;-webkit-box-shadow:1px 1px 1px #333;box-shadow:1px 1px 1px #333; }
.shadow2 { -moz-box-shadow:1px 1px 2px #333;-webkit-box-shadow:1px 1px 2px #333;box-shadow:1px 1px 2px #333; }
.shadow4 { -moz-box-shadow:1px 1px 4px #333;-webkit-box-shadow:1px 1px 4px #333;box-shadow:1px 1px 4px #333; }
.shadow6 { -moz-box-shadow:1px 1px 6px #333;-webkit-box-shadow:1px 1px 6px #333;box-shadow:1px 1px 6px #333; }
/*@textshadow*/
.textshadowb { text-shadow:1px 1px 3px #03c; }
.textshadowr { text-shadow:1px 1px 3px #8b0000; }
.textshadowg { text-shadow:1px 1px 3px #696969; }

/*== UIʽ ==*/
.line1{
	border-top:2px solid #8b0000;
}
/*@h3  */
/*red*/
.Hr,.Hred { 
    margin-bottom: 0px;
	border-top:2px solid #8b0000;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ebdddd), to(#fff));
	background-image:-o-linear-gradient(top,#ebdddd,#fff);
	background-image:-moz-linear-gradient(top,#ebdddd,#fff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ebdddd',EndColorStr='#ffffff');
	-ms-filter-:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ebdddd',EndColorStr='#ffffff')";
}
/*blue*/
.Hb,.Hblue {
	border-top:2px solid #03c;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#dae1f7), to(#fff));
	background-image:-o-linear-gradient(top,#dae1f7,#fff);
	background-image:-moz-linear-gradient(top,#dae1f7,#fff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#dae1f7',EndColorStr="#ffffff");
	-ms-filter-:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#dae1f7',EndColorStr='#ffffff')";
}
/*green*/
.Hg,.Hgreen {
	border-top:2px solid #6eb92b;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f1f8e1), to(#fff));
	background-image:-o-linear-gradient(top,#f1f8e1,#fff);
	background-image:-moz-linear-gradient(top,#f1f8e1,#fff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f8e1',EndColorStr="#ffffff");
	-ms-filter-:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f8e1',EndColorStr='#ffffff')";
}
/*gray*/
.Hgray {
	border-top:2px solid #b4b4b4;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f1efee), to(#fff));
	background-image:-o-linear-gradient(top,#f1efee,#fff);
	background-image:-moz-linear-gradient(top,#f1efee,#fff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1efee',EndColorStr="#ffffff");
	-ms-filter-:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1efee',EndColorStr='#ffffff')";
}
/*simple*/
.Hs,.Hsimple { border-bottom:1px solid #ccc; font-size:12px; }

/*@table*/
/*ͨ*/
.tab { width:100%; color:#666; background-color:#FFF; border:1px solid #d3d3d3;}
.tab caption { background-color:#F2EFEE;border:1px solid #CCCCCC;border-bottom:none; }
.tab th { 
	word-break:break-all; word-wrap:break-word; overflow:hidden; height:28px; line-height:18px; 
	border-bottom:1px solid #e8e8e8; 
	background:#f3f3f3 url(http://i0.ulechina.com/tomshopping/i/sys/110628/bg_navitab_line.gif) repeat-x left top;
}
.tab td { word-break:break-all; word-wrap:break-word;overflow:hidden;height:28px; border-top:1px solid #f0f0f0; border-right:1px solid #f0f0f0; text-align:center;line-height:18px; }
.tab .darkborder td { border-top-color:#d3d3d3; }
.tab td img { display:inline; }
table.tab tr:hover{background:#F0F0F0;}
/* Ӧȵinput */
.tab td div.w100p { margin:0 7px 0 3px; *margin:0 3px 0 7px; width:auto; }
.tab td div.w100p input { width:100%; }
/*tableform*/
.tableform{}
.tableform th,.tableform td { height:30px; } /*ӦpdҪ󣬸ĸ6px.jiangxiaoyang*/
/*sortIcon icon*/
.table-sort {cursor:pointer;}
.table-sort b {display:inline-block;margin-left:5px;width:11px;height:11px;background:url(http://i0.ulechina.com/tomshopping/i/sys/110314/ape-admin-icon.png) 0 -60px;vertical-align:middle;}
.table-sort .desc {background-position:-11px -60px;}
.table-sort .asc {background-position:-22px -60px;}

/*@ҳ*/
.page a,.page span{margin:0 10px;}
.pageupon,.pageupoff,.pagedownon,.pagedownoff{background:url(/i/search/090609/icopagenext.png) no-repeat;display:inline-block;height:13px;width:13px;overflow:hidden;vertical-align:middle;text-indent:-9999px;text-align:left;}
.pageupon{background-position:0 -13px;}
.pageupoff{background-position:0 0;}
.pagedownon{background-position:-13px -13px;}
.pagedownoff{background-position:-13px 0;}



/*@ѡicon*/
.dateto, .datefrom{display:inline-block;height:20px;width:20px;background-image:url(/i/ulecard/100522/s_rili.gif);cursor:pointer;vertical-align:middle;}/*ѡ*/

/*@icon*/
/**/
.icon{display:inline-block;width:20px;height:20px;background-image:url(http://i0.ulechina.com/tomshopping/i/sys/110314/ape-admin-icon.png);cursor:pointer;vertical-align:middle;}
.icon-add{background-position:0 0;}
.icon-remove{background-position:-20px 0;}
.icon-reduce{background-position:-40px 0;}
.icon-favorites{background-position:-60px 0;}
.icon-edit{background-position:-80px 0;}
.icon-refresh{background-position:-100px 0;}
.icon-search{background-position:-120px 0;}
.icon-calender{background-position:-140px 0;}
.icon-cart{background-position:-160px 0;}
.icon-check{background-position:-180px 0;}
.icon-avatar{width:16px;height:16px;background-position:-78px -60px;}
.icon-alert{width:16px;height:16px;background-position:-94px -60px;}
.icon-list{width:16px;height:16px;background-position:-110px -60px;}

.ico-r-collapse { background:url(http://i0.ulechina.com/tomshopping/i/sys/110628/sprite.gif) no-repeat right -324px; padding-right:14px; line-height:20px; }
.ico-r-expand { background:url(http://i0.ulechina.com/tomshopping/i/sys/110628/sprite.gif) no-repeat right -344px; padding-right:14px; line-height:20px; }
.ico-l-question { background:url(http://i0.ulechina.com/i/icon/16/question.png) no-repeat 0 2px; _background-image:url(http://i0.ulechina.com/i/icon/16/question.gif); padding-left:20px; line-height:20px; }
.ico-l-info { background:url(http://i0.ulechina.com/i/icon/16/info.png) no-repeat 0 2px; padding-left:20px; line-height:20px; }

.msg-info { background:url(http://i0.ulechina.com/i/icon/16/info.png) no-repeat; _background:url(http://i0.ulechina.com/i/icon/16/info.gif) no-repeat; padding-left:20px; }
.i16-info, .i16-question { width:16px; height:16px; overflow:hidden; display:inline-block; padding:0; line-height:16px; }
.i16-info { background:url(http://i0.ulechina.com/i/icon/16/info.png) no-repeat; _background:url(http://i0.ulechina.com/i/icon/16/info.gif) no-repeat; }
.i16-question { background:url(http://i0.ulechina.com/i/icon/16/question.png) no-repeat; _background:url(http://i0.ulechina.com/i/icon/16/question.gif) no-repeat; }

/*@btn*/
.btn{ display:inline-block;margin-right:4px;padding:0 20px;*padding:0 10px;height:23px;cursor:pointer;line-height:23px; }
.btn:active { position:relative;top:1px; }
.btn:focus {outline:0; }
.p0 { padding:0; }
/*white ɫ*/
.Bwhite {
	color:#666;border:1px solid #808080;background-color:#fff;
	background-image:-webkit-linear-gradient(top,#fafafa,#e2e2e2);
	background-image:-o-linear-gradient(top,#fafafa,#e2e2e2);
	background-image:-moz-linear-gradient(top,#fafafa,#e2e2e2);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#e2e2e2');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#e2e2e2')";
}
/*orange ɫ*/
.Borange{
	color:#fff;border:1px solid #f60;background-color:#ffb44d;
	background-image:-webkit-linear-gradient(top,#f90,#f40);
	background-image:-o-linear-gradient(top,#f90,#f40);
	background-image:-moz-linear-gradient(top,#f90,#f40);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff9900',EndColorStr='#ff4400');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff9900',EndColorStr='#ff4400')";
}
/*orange ɫ*/
.Bgray{
	color:#808080;border:1px solid #bcbcbc;
	background-image:-webkit-linear-gradient(top,#F3F3F3,#ffffff);
	background-image:-o-linear-gradient(top,#F3F3F3,#ffffff);
	background-image:-moz-linear-gradient(top,#F3F3F3,#ffffff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#F3F3F3',EndColorStr='#ffffff');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#F3F3F3',EndColorStr='#ffffff')";
}
/*blue ɫ*/
.Bblue{
	color:#2e6e9e;border:1px solid #c5dbec;background-color:#fff;
	background-image:-webkit-linear-gradient(top,#eaf4fd,#e3f1fc);
	background-image:-o-linear-gradient(top,#eaf4fd,#e3f1fc);
	background-image:-moz-linear-gradient(top,#eaf4fd,#e3f1fc);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaf4fd',EndColorStr='#e3f1fc');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaf4fd',EndColorStr='#e3f1fc')";
}
/*gold ɫ*/
.Bgold {
	color:#804040;border:1px solid #FFBD24;background-color:#fff;
	background-image:-webkit-linear-gradient(top,#FFFFCC,#FFD559);
	background-image:-o-linear-gradient(top,#FFFFCC,#FFD559);
	background-image:-moz-linear-gradient(top,#FFFFCC,#FFD559);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFCC',EndColorStr='#FFD559');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFCC',EndColorStr='#FFD559')";
}
/*disabled*/
.Bdisabled{
	color:#AAA;border:1px solid #AAA;background-color:#fff;
	background-image:-webkit-linear-gradient(top,#F3F3F3,#ffffff);
	background-image:-o-linear-gradient(top,#F3F3F3,#ffffff);
	background-image:-moz-linear-gradient(top,#F3F3F3,#ffffff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#F3F3F3',EndColorStr='#ffffff');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#F3F3F3',EndColorStr='#ffffff')";
}
/*@ǿɫ*/
/*darkred */
.HLdr,.Bdr{padding:2px 15px;background-color:#8b0000;color:#fff;}
/*blue */
.HLb,.Bb{padding:2px 15px;background-color:#03c;color:#fff;}

/*@*/
.colunm,.column { text-indent:10px; }
.colunm dt,.colunm dd,.colunm li,.column dt,.column dd,.column li { float:left;line-height:22px;padding:5px 0; }
.colunm dd label {} /*ȥԭȵheight:33px;, by jiangxy*/
.dl-tar dt { text-align:right; }
/*c=T=dtĿȣD=ddĿ 1λ=24px*/
.c1T4D9{width:322px;}
.c1T4D9 dt{width:96px;}
.c1T4D9 dd{width:226px;text-indent:0;}
.c1T4D9 img{display:inline;}/**/

.c1T4D16{width:480px;}
.c1T4D16 dt{width:96px;}
.c1T4D16 dd{width:384px;}

.c1T4D24{width:672px;}
.c1T4D24 dt{width:96px;}
.c1T4D24 dd{width:576px;}

.c1T5D24{width:696px;}
.c1T5D24 dt{width:120px;}
.c1T5D24 dd{width:576px;}

.c2T4D8{width:576px;}
.c2T4D8 dt{width:96px;}
.c2T4D8 dd{width:192px;}

.c2T4D12{width:768px;}
.c2T4D12 dt{width:96px;}
.c2T4D12 dd{width:288px;}

.c3T4D8 {width:864px;}
.c3T4D8 dt {width:96px;}
.c3T4D8 dd {width:192px;}
.c3T4D8 dd.c2 {width:480px;}

/*࣬߶Ӧ*/
.c1T4D9 dt,.c1T4D16 dt,.c1T4D24 dt,.c1T5D24 dt {clear:left;}
.c1T4D9 dd,.c1T4D16 dd,.c1T4D24 dd,.c1T5D24 dd {height:auto;}

/*࣬ݲ*/
/*.c2T4D8 dt,.c2T4D8 dd,.c2T4D12 dt,.c2T4D12 dd,.c3T4D8 dt,.c3T4D8 dd { overflow:hidden; height:22px; }*/

.c2D15 {width:720px;}
.c2D15 li {width:360px;}

.c4D8 {width:768px;}
.c4D8 li {width:192px;height:24px;line-height:24px;}

/*@м*/
.crumbs{margin-bottom:10px;height:20px;line-height:20px;}
.crumbs li{float:left;}
.crumbs a{color:#a71f24;}
.direct{padding:0 5px;}

/*@Ϣ*/
div.msg{padding:20px 0 20px 120px;background:no-repeat 40px 30px;border:1px solid #cacaca;line-height:3;}
div.success{background-image:url(/tomshopping/i/sys/101111/success.png);}
div.fail{background-image:url(/tomshopping/i/sys/101111/fail.png);}

/*@ǩл*/
.tabs-nav {border-bottom:1px solid #f40; }
.tabs-nav-title{float:left; margin-right:2px; border:none; }

/*tab*/
.tab-type { margin: 0; padding: 0; overflow: hidden; zoom: 1;}
.tab-type li { float: left; margin-right: 5px;}
.tab-type li a { display: block; float: left; padding:0 10px; border:solid #ccc; border-width:0 1px; height: 31px; font-size: 1.2em; font-weight: bold; line-height: 31px; text-align: center; color: #666; background: url(http://i0.ulechina.com/i/checkout/100618/chk-type-tab.png) center bottom no-repeat; width:auto;}
.tab-type li a:hover { text-decoration: none; color: #FFF; background-position: left top;}
.tab-type li.current a { color: #FFF; background-position: center top;}

/*navitab*/
.navitab ul { background:url(http://i0.ulechina.com/tomshopping/i/sys/110628/bg_navitab_line.gif) repeat-x left bottom; }
.navitab ul li { float:left; margin:3px 8px 2px 0; background-color:#e5e5e5; font-size:14px; }
.navitab ul li span, .navitab ul li a { display:inline-block; height:25px; line-height:25px; color:#666; padding:0 15px; outline:none; width:auto; }
.navitab ul li.on { margin:0 8px 0 0; background:#E4BBBD url(http://i0.ulechina.com/tomshopping/i/sys/110628/bg_navitab_line.gif) repeat-x left bottom; padding:2px 2px 0 2px; }
.navitab ul li.on span, .navitab ul li.on a { height:28px; line-height:28px; background-color:#fff; border:solid 1px #A72025; border-bottom:none; color:#000; font-weight:bold; }

/*progressbar*/
.progressbar { height:36px; overflow:hidden; }
.progressbar ul { background:#ADADAD url(http://i0.ulechina.com/tomshopping/i/sys/110628/sprite.gif) no-repeat right -288px; }
.progressbar ul li { line-height:36px; text-align:center; font-weight:bold; color:#fff; float:left; padding-left:20px; margin-left:-20px; background:url(http://i0.ulechina.com/tomshopping/i/sys/110628/sprite.gif) no-repeat left -72px; }
.progressbar ul li span { padding-right:20px; display:block; line-height:36px; background:url(http://i0.ulechina.com/tomshopping/i/sys/110628/sprite.gif) no-repeat right -108px; overflow:hidden; font-size:14px; }
.progressbar ul li.on { background-position:left -36px; }
.progressbar ul li.on span { background-position:right top; background-color:#B02D31; }
.progressbar ul li.first { background-position:left -180px; padding-left:0; margin-left:0; }
.progressbar ul li.first span { margin-left:5px; }
.progressbar ul li.firston { background-position:left -216px; padding-left:0px; margin-left:0; }
.progressbar ul li.firston span { background-position:right top; background-color:#B02D31; margin-left:5px; }
.progressbar ul li.last span { background-position:right -144px; padding-right:0; }
.progressbar ul li.laston { background-position:left -36px; }
.progressbar ul li.laston span { background-position:right -252px; padding-right:0; background-color:#B02D31; }
.progressbar ul.col2 li { width:50%; *width:49.9%; }
.progressbar ul.col3 li { width:33.33%; *width:33.3%; }
.progressbar ul.col4 li { width:25%; *width:24.9% }
.progressbar ul.col5 li { width:20%; *width:19.92%; }
.progressbar ul.col6 li { width:16.66%; *width:16.61%; }

/*message*/
.message { border:solid 1px #e4e4e4; background-color:#fafafa; padding:10px; line-height:20px; color:#333; }
.message h3 { color:#A61F24; padding:0; margin:0; font-size:12px; line-height:20px; height:auto; font-weight:normal; text-indent:0; }
.message .gray { color:#666; }

/*summary*/
.summary { border:solid 1px #E4E4E4; border-top:solid 3px #A61F24; padding:5px 10px; line-height:20px; color:#333; }
.summary h3 { color:#A61F24; padding:0; margin:0; font-size:12px; line-height:20px; height:auto; font-weight:normal; text-indent:0; }
.summary .gray { color:#666; }
.summary-collapse { height:18px; overflow:hidden; }
.summary-collapse .ico-r-collapse { background-position:right -344px; }

/*orderlist*/
ol.orderlist { list-style-type:decimal; padding-left:24px; }
ol.orderlist li { line-height:20px; }

/*rowlist*/
ul.rowlist li { line-height:20px; margin-right:20px; float:left; }
ul.rowlist li a { color:#06c; }
ul.rowlist li strong { font-weight:bold; color:#cb1212; }

/*dotlist*/
ul.dotlist { list-style-type:square; padding-left:24px; }
ul.dotlist li { line-height:20px; }

/*==layout==*/
/*header*/
#header{border-bottom:1px solid #b4b4b4;background:#fff;}
.nav{float:right;padding-right:10px;color:#666;}
.nav li{float:left;height:20px;line-height:20px;padding:0 5px;}
.nav a{color:#4682b4;}
/*main*/
.main-wrap{float:left;width:100%;min-height:1px;}
.mainInner{padding:10px;}

/*aside*/
.aside{position:relative;float:left;margin-left:-100%;padding:5px;}
.menu li{border-bottom:1px solid #d3c9cd;line-height:32px;font-weight:700;text-indent:30px;cursor:default;}
.menu a{font-weight:700;}
.sec-menu{border-top:1px solid #d3c9cd;}
.sec-menu li{border:none;font-weight:400;text-indent:45px;}
.sec-menu a{font-weight:400;}
.arrow{background:url(http://i0.ulechina.com/i/ulecard/100522/current.png) 10px 10px no-repeat;}
.sec-menu li.arrow{background-position:30px 10px;}
	
/*toggle*/
.toggle{position:absolute;left:0;top:0;width:9px;border-left:1px solid #B4B4B4;background-color:#f0f0f0;cursor:pointer;}
.toggle.hover{background-color:#B4B4B4;}

/*footer*/
#footer{border-top:1px solid #B4B4B4;}
/*grid*/
.grid-a130m0 .aside{width:130px;}
.grid-a130m0 .main{margin-left:140px;}

.grid-a160m0 .aside{width:160px;}
.grid-a160m0 .main{margin-left:170px;}

#content,ul,dl,.Dgw{*zoom:1;}
#content:after,ul:after,dl:after,.Dgw:after{content:"\0200";display:block;height:0;clear:both; visibility:hidden;}

/*12-9-11½ʽ*/
.ie6-01{ _width:85%;}
.ie6-02{ _width:70%;}
.contentPanel {
	background-color: #00FFFF;
	height: auto;
	width: 700px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin: 20px;
	padding: 5px;
}
